USE [master]
GO
/****** Object:  Database [ZoneGuide]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE DATABASE [ZoneGuide]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeriStepAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HeriStepAI.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeriStepAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HeriStepAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZoneGuide].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZoneGuide]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [nvarchar](max) NULL,
	[EntityName] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedRecords]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](max) NOT NULL,
	[EntityId] [nvarchar](max) NOT NULL,
	[DeletedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DeletedRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationHistories]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnonymousDeviceId] [nvarchar](450) NOT NULL,
	[SessionId] [nvarchar](450) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Accuracy] [float] NOT NULL,
	[Speed] [float] NULL,
	[Heading] [float] NULL,
	[Altitude] [float] NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LocationHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NarrationHistories]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NarrationHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnonymousDeviceId] [nvarchar](450) NOT NULL,
	[SessionId] [nvarchar](max) NOT NULL,
	[POIId] [nvarchar](450) NOT NULL,
	[POIName] [nvarchar](max) NOT NULL,
	[Language] [nvarchar](max) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[DurationSeconds] [int] NOT NULL,
	[TotalDurationSeconds] [int] NOT NULL,
	[Completed] [bit] NOT NULL,
	[TriggerType] [nvarchar](max) NOT NULL,
	[TriggerDistance] [float] NULL,
	[TriggerLatitude] [float] NULL,
	[TriggerLongitude] [float] NULL,
 CONSTRAINT [PK_NarrationHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POIApprovalHistories]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POIApprovalHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContributionId] [int] NOT NULL,
	[OldStatus] [int] NOT NULL,
	[NewStatus] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[ActionById] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_POIApprovalHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POIContributions]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POIContributions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalPOIId] [int] NULL,
	[ContributorId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](max) NOT NULL,
	[FullDescription] [nvarchar](max) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[TriggerRadius] [float] NOT NULL,
	[ApproachRadius] [float] NOT NULL,
	[Priority] [int] NOT NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[TTSScript] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MapLink] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ContributorNotes] [nvarchar](max) NULL,
	[ReviewerFeedback] [nvarchar](max) NULL,
	[ReviewerId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ReviewedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_POIContributions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POIs]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POIs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UniqueCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[FullDescription] [nvarchar](max) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[TriggerRadius] [float] NOT NULL,
	[ApproachRadius] [float] NOT NULL,
	[Priority] [int] NOT NULL,
	[Category] [nvarchar](max) NULL,
	[AudioFilePath] [nvarchar](max) NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[TTSScript] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MapLink] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NOT NULL,
	[TourId] [int] NULL,
	[OrderInTour] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CooldownSeconds] [int] NOT NULL,
	[Address] [nvarchar](500) NULL,
 CONSTRAINT [PK_POIs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POIStatistics]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POIStatistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[POIId] [nvarchar](450) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[ListenCount] [int] NOT NULL,
	[CompletedCount] [int] NOT NULL,
	[TotalListenDurationSeconds] [bigint] NOT NULL,
	[UniqueUsers] [int] NOT NULL,
 CONSTRAINT [PK_POIStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POITranslations]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POITranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[POIId] [int] NOT NULL,
	[LanguageCode] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](max) NOT NULL,
	[FullDescription] [nvarchar](max) NOT NULL,
	[TTSScript] [nvarchar](max) NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsAudioOutdated] [bit] NOT NULL,
	[IsOutdated] [bit] NOT NULL,
 CONSTRAINT [PK_POITranslations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPOIs]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPOIs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[POIId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_TourPOIs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UniqueCode] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[EstimatedDurationMinutes] [int] NOT NULL,
	[DistanceKm] [float] NOT NULL,
	[EstimatedDistanceMeters] [float] NOT NULL,
	[POICount] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NOT NULL,
	[Difficulty] [nvarchar](max) NOT NULL,
	[DifficultyLevel] [int] NOT NULL,
	[WheelchairAccessible] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourTranslations]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[LanguageCode] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsOutdated] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TourTranslations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/11/2026 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiry] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLogs_CreatedAt]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_CreatedAt] ON [dbo].[ActivityLogs]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ActivityLogs_EntityType]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_EntityType] ON [dbo].[ActivityLogs]
(
	[EntityType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLogs_UserId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_UserId] ON [dbo].[ActivityLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LocationHistories_AnonymousDeviceId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationHistories_AnonymousDeviceId] ON [dbo].[LocationHistories]
(
	[AnonymousDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LocationHistories_SessionId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationHistories_SessionId] ON [dbo].[LocationHistories]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationHistories_Timestamp]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationHistories_Timestamp] ON [dbo].[LocationHistories]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NarrationHistories_AnonymousDeviceId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_NarrationHistories_AnonymousDeviceId] ON [dbo].[NarrationHistories]
(
	[AnonymousDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NarrationHistories_POIId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_NarrationHistories_POIId] ON [dbo].[NarrationHistories]
(
	[POIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NarrationHistories_StartTime]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_NarrationHistories_StartTime] ON [dbo].[NarrationHistories]
(
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POIApprovalHistories_ActionById]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_POIApprovalHistories_ActionById] ON [dbo].[POIApprovalHistories]
(
	[ActionById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POIApprovalHistories_ContributionId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_POIApprovalHistories_ContributionId] ON [dbo].[POIApprovalHistories]
(
	[ContributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POIContributions_ContributorId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_POIContributions_ContributorId] ON [dbo].[POIContributions]
(
	[ContributorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POIContributions_ReviewerId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_POIContributions_ReviewerId] ON [dbo].[POIContributions]
(
	[ReviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POIContributions_Status]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_POIContributions_Status] ON [dbo].[POIContributions]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POIs_TourId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_POIs_TourId] ON [dbo].[POIs]
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POIs_UniqueCode]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_POIs_UniqueCode] ON [dbo].[POIs]
(
	[UniqueCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POIStatistics_POIId_Date]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_POIStatistics_POIId_Date] ON [dbo].[POIStatistics]
(
	[POIId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POITranslations_POIId_LanguageCode]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_POITranslations_POIId_LanguageCode] ON [dbo].[POITranslations]
(
	[POIId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TourPOIs_POIId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_TourPOIs_POIId] ON [dbo].[TourPOIs]
(
	[POIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TourPOIs_TourId]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE NONCLUSTERED INDEX [IX_TourPOIs_TourId] ON [dbo].[TourPOIs]
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tours_UniqueCode]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tours_UniqueCode] ON [dbo].[Tours]
(
	[UniqueCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TourTranslations_TourId_LanguageCode]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TourTranslations_TourId_LanguageCode] ON [dbo].[TourTranslations]
(
	[TourId] ASC,
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 4/11/2026 12:23:00 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POITranslations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAudioOutdated]
GO
ALTER TABLE [dbo].[POITranslations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOutdated]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users_UserId]
GO
ALTER TABLE [dbo].[POIApprovalHistories]  WITH CHECK ADD  CONSTRAINT [FK_POIApprovalHistories_POIContributions_ContributionId] FOREIGN KEY([ContributionId])
REFERENCES [dbo].[POIContributions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POIApprovalHistories] CHECK CONSTRAINT [FK_POIApprovalHistories_POIContributions_ContributionId]
GO
ALTER TABLE [dbo].[POIApprovalHistories]  WITH CHECK ADD  CONSTRAINT [FK_POIApprovalHistories_Users_ActionById] FOREIGN KEY([ActionById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[POIApprovalHistories] CHECK CONSTRAINT [FK_POIApprovalHistories_Users_ActionById]
GO
ALTER TABLE [dbo].[POIContributions]  WITH CHECK ADD  CONSTRAINT [FK_POIContributions_Users_ContributorId] FOREIGN KEY([ContributorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[POIContributions] CHECK CONSTRAINT [FK_POIContributions_Users_ContributorId]
GO
ALTER TABLE [dbo].[POIContributions]  WITH CHECK ADD  CONSTRAINT [FK_POIContributions_Users_ReviewerId] FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[POIContributions] CHECK CONSTRAINT [FK_POIContributions_Users_ReviewerId]
GO
ALTER TABLE [dbo].[POIs]  WITH CHECK ADD  CONSTRAINT [FK_POIs_Tours_TourId] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
GO
ALTER TABLE [dbo].[POIs] CHECK CONSTRAINT [FK_POIs_Tours_TourId]
GO
ALTER TABLE [dbo].[POITranslations]  WITH CHECK ADD  CONSTRAINT [FK_POITranslations_POIs_POIId] FOREIGN KEY([POIId])
REFERENCES [dbo].[POIs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POITranslations] CHECK CONSTRAINT [FK_POITranslations_POIs_POIId]
GO
ALTER TABLE [dbo].[TourPOIs]  WITH CHECK ADD  CONSTRAINT [FK_TourPOIs_POIs_POIId] FOREIGN KEY([POIId])
REFERENCES [dbo].[POIs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourPOIs] CHECK CONSTRAINT [FK_TourPOIs_POIs_POIId]
GO
ALTER TABLE [dbo].[TourPOIs]  WITH CHECK ADD  CONSTRAINT [FK_TourPOIs_Tours_TourId] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourPOIs] CHECK CONSTRAINT [FK_TourPOIs_Tours_TourId]
GO
ALTER TABLE [dbo].[TourTranslations]  WITH CHECK ADD  CONSTRAINT [FK_TourTranslations_Tours_TourId] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourTranslations] CHECK CONSTRAINT [FK_TourTranslations_Tours_TourId]
GO
USE [master]
GO
